<!-- index.html -->
{% extends "layout.njk" %}

  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <section class="primary-navigation">
            {% include "sections/nav-one.njk" %}
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <section class="profile-section">
            <h2 class="text-center">Slider</h2>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <section class="profile-section">
            <h2 class="text-center">Venture</h2>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <section class="profile-section">
            <h2 class="text-center">Short Profile</h2>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <section class="profile-section">
            <h2 class="text-center">Timeline</h2>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <section class="profile-section">
            <h2 class="text-center">Banner</h2>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <section class="profile-section">
            <h2 class="text-center">Personal Life</h2>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <section class="profile-section">
            <h2 class="text-center">Banner</h2>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <section class="profile-section">
            <h2 class="text-center">Gallery</h2>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <section class="profile-section">
            <h2 class="text-center">Associations</h2>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <section class="profile-section">
            <h2 class="text-center">Get in Touch</h2>
          </section>
        </div>
      </div>

      <div class="row">
          <div class="col-12">
            <section class="profile-footer">
              <h2 class="text-center">Footer</h2>
            </section>
          </div>
        </div>
    </div>
  {% endblock %}
