<!-- index.html -->
{% extends "layout.njk" %}

  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <section class="primary-navigation">
            {% include "sections/nav-one.njk" %}
          </section>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <section class="profile-slider">
            <div id="theme-img-slider" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="d-block mx-auto" src="https://placeimg.com/1000/450/people" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block mx-auto" src="https://placeimg.com/1000/450/people" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block mx-auto" src="https://placeimg.com/1000/450/people" alt="Third slide">
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <section class="profile-section">
            <h2 class="text-center">Venture</h2>
          </section>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          {% include "sections/aboutme-one.njk" %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <section class="profile-section">
            <h2 class="text-center">Timeline</h2>
          </section>
        </div>
      </div>
    </div>

    {% include "sections/banner-one.njk" %}

    <div class="container">
      <div class="row">
        <div class="col-12">
          <section class="profile-section">
            <h2 class="text-center">Personal Life</h2>
            <hr>
            <div class="early-life row">
              <div class="col-12"><h3>Early Life</h3></div>
              <div class="col-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perferendis ipsa fugit dignissimos minus odit recusandae sed fuga totam ea, nihil quaerat eveniet soluta possimus explicabo tempora minima rerum amet!</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod reprehenderit pariatur itaque doloribus nemo esse eveniet omnis, repudiandae nulla quis fuga autem aliquam, libero ducimus accusantium soluta minima accusamus eius?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ratione nobis incidunt dicta quidem cupiditate? Molestiae maiores ipsam ipsa blanditiis sit odit earum, quod beatae dolor repellendus minus obcaecati expedita.</p>
              </div>
              <div class="col-6"><img src="http://via.placeholder.com/600x300?text=Early+Life" alt="" class="img-fluid"></div>
            </div>
            <div class="education row">
              <div class="col-12"><h3>Education</h3></div>
              <div class="col-6"><img src="http://via.placeholder.com/600x300?text=Education" alt="" class="img-fluid"></div>
              <div class="col-6">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem facilis reprehenderit numquam illo adipisci rem cumque reiciendis cum voluptates aliquam commodi id ipsa iusto, distinctio animi minima velit aperiam deserunt?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente architecto libero doloribus maiores facilis reiciendis est ipsum aspernatur voluptate consequuntur! Rerum perspiciatis voluptatem repudiandae tempore, omnis veritatis totam quos quia.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates vero enim quam blanditiis. Molestias, praesentium. Reprehenderit voluptates alias provident a sed voluptatibus quo amet at aperiam? Recusandae odio molestiae fuga.</p>
              </div>
            </div>
            <div class="family row">
              <div class="col-12"><h3>Family</h3></div>
              <div class="col-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam mollitia sequi voluptas sit ducimus esse unde eveniet odit molestias, reiciendis nostrum enim quas commodi dolore nesciunt hic, corporis eum dolor.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam mollitia sequi voluptas sit ducimus esse unde eveniet odit molestias, reiciendis nostrum enim quas commodi dolore nesciunt hic, corporis eum dolor.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam mollitia sequi voluptas sit ducimus esse unde eveniet odit molestias, reiciendis nostrum enim quas commodi dolore nesciunt hic, corporis eum dolor.</p>
              </div>
              <div class="col-6"><img src="http://via.placeholder.com/600x300?text=Family" alt="" class="img-fluid"></div>
            </div>
          </section>
        </div>
      </div>
    </div>

    {% include "sections/banner-one.njk" %}

    <div class="container">
        <div class="row">
          <div class="col-12">
            <section class="profile-section">
              <h2 class="text-center">Professional Life</h2>
              <hr>
              <div class="work-history row">
                <div class="col-12"><h3>Work History</h3></div>
                <div class="col-6"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptatem officia, illum rem optio explicabo sit ab molestias et laudantium voluptatibus! Quasi explicabo voluptatibus iusto ea quisquam tempora assumenda facilis.</p></div>
                <div class="col-6"><img src="http://via.placeholder.com/600x200?text=Work+History" alt="" class="img-fluid"></div>
              </div>
              <br>
              <div class="achievments row">
                <div class="col-12"><h3>Achievments</h3></div>
                <div class="col-6"><img src="http://via.placeholder.com/600x200?text=Achievments" alt="" class="img-fluid"></div>
                <div class="col-6"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptatem officia, illum rem optio explicabo sit ab molestias et laudantium voluptatibus! Quasi explicabo voluptatibus iusto ea quisquam tempora assumenda facilis.</p></div>
              </div>
            </section>
          </div>
        </div>
      </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          {% include "sections/gallery-one.njk" %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <section class="profile-section">
            <h2 class="text-center">Associations</h2>
          </section>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          {% include "sections/contactform-one.njk" %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
          <div class="col-12">
            <section class="profile-footer">
              <h2 class="text-center">Footer</h2>
            </section>
          </div>
        </div>
    </div>
  {% endblock %}
