<!-- index.html -->
{% extends "layout.njk" %}

  {% block content %}

    {% include "sections/1-navbar/nav-one.njk" %}

    {% include "sections/2-slider/slider-one.njk" %}

    {% include "sections/3-venture/venture-one.njk" %}

    {% include "sections/4-about/aboutme-one.njk" %}

    {% include "sections/5-timeline/timeline-one.njk" %}

    {% include "sections/0-util/banner-one.njk" %}

    {% include "sections/6-personal/personal-one.njk" %}

    {% include "sections/0-util/banner-one.njk" %}

    {% include "sections/7-professional/prof-one.njk" %}

    {% include "sections/8-gallery/gallery-one.njk" %}

    {% include "sections/9-association/ass-one.njk" %}

    {% include "sections/10-contact/contactform-one.njk" %}

    {% include "partials/footer-one.njk" %}

  {% endblock %}
