<section class="container">
  <div class="row">
    <div class="col-12">
      <div class="primary-navigation">
        <nav class="demo-nav-one">
          <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Timeline</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Personal Life</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Associations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
