<section class="profile-section">
  <h2 class="text-center">A Little Bit About Me</h2>
  <p class="text-center">Collaboratively disseminate wireless innovation with standards compliant e-business.
    <br /> Phosfluorescently expedite functional products via premium action items.</p>
  <div class="row">
    <div class="col-6">
      <h3>My Profile Overview</h3>
      <p>Competently incentivize cross-unit value with end-to-end infrastructures. coordinate bricks-and-clicks architectures
        for highly efficient catalysts for change. Enthusiastically aggregate client-focused content without flexible sources.
        Holistically actualize efficient portals for highly efficient materials. Seamlessly reintermediate ubiquitous catalysts
        for change before fully researched initiatives.</p>
      <p>Synergistically disintermediate efficient intellectual capital for customized process improvements.</p>
      <div class="list-inline d-flex justify-content-around social-links">
        <a href="#" class="list-inline-item">
          <i class="fa fa-lg fa-fw fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#" class="list-inline-item">
          <i class="fa fa-lg fa-fw fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="#" class="list-inline-item">
          <i class="fa fa-lg fa-fw fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="#" class="list-inline-item">
          <i class="fa fa-lg fa-fw fa-google-plus-official" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="col-6">
      <img class="d-block img-fluid" src="https://placeimg.com/540/400/tech" alt="Profile Image">
    </div>
  </div>
</section>
