<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="profile-section">
        <div class="section-header">
          <h2 class="text-center">Gallery</h2>
        </div>
        <div class="gallery-slider">
          <div class="slider-item">
            <img class="img-fluid img-thumbnail" src="http://via.placeholder.com/200x200?text=Gallery+Image+1" alt="Gallery Image">
          </div>
          <div class="slider-item">
            <img class="img-fluid img-thumbnail" src="http://via.placeholder.com/200x200?text=Gallery+Image+2" alt="Gallery Image">
          </div>
          <div class="slider-item">
            <img class="img-fluid img-thumbnail" src="http://via.placeholder.com/200x200?text=Gallery+Image+3" alt="Gallery Image">
          </div>
          <div class="slider-item">
            <img class="img-fluid img-thumbnail" src="http://via.placeholder.com/200x200?text=Gallery+Image+4" alt="Gallery Image">
          </div>
          <div class="slider-item">
            <img class="img-fluid img-thumbnail" src="http://via.placeholder.com/200x200?text=Gallery+Image+5" alt="Gallery Image">
          </div>
          <div class="slider-item">
            <img class="img-fluid img-thumbnail" src="http://via.placeholder.com/200x200?text=Gallery+Image+6" alt="Gallery Image">
          </div>
          <div class="slider-item">
            <img class="img-fluid img-thumbnail" src="http://via.placeholder.com/200x200?text=Gallery+Image+7" alt="Gallery Image">
          </div>
          <div class="slider-item">
            <img class="img-fluid img-thumbnail" src="http://via.placeholder.com/200x200?text=Gallery+Image+8" alt="Gallery Image">
          </div>
          </d<div class="container">
          <div class="row">
            <div class="col-12">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
