<div class="container">
  <div class="row">
    <div class="col-12">
      <section class="profile-section">
        <div class="section-header">
          <h2 class="text-center">Professional Life</h2>
        </div>
        <div class="work-history row">
          <div class="col-12">
            <h4>Work History</h4>
          </div>
          <div class="col-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptatem officia, illum rem optio explicabo
              sit ab molestias et laudantium voluptatibus! Quasi explicabo voluptatibus iusto ea quisquam tempora assumenda
              facilis.</p>
          </div>
          <div class="col-6">
            <img src="http://via.placeholder.com/600x200?text=Work+History" alt="" class="img-fluid">
          </div>
        </div>
        <div class="achievments row">
          <div class="col-12">
            <h4>Achievments</h4>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card-deck">

                <div class="card">
                  <img class="card-img-top" src="http://via.placeholder.com/400x300?text=Achievments" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a
                      little bit longer.</p>
                  </div>
                  <div class="card-footer text-center">
                    <a name="Learn More" class="btn btn-sm btn-primary" href="#" role="button">Learn More</a>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="http://via.placeholder.com/400x300?text=Achievments" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a
                      little bit longer.</p>
                  </div>
                  <div class="card-footer text-center">
                    <a name="Learn More" class="btn btn-sm btn-primary" href="#" role="button">Learn More</a>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="http://via.placeholder.com/400x300?text=Achievments" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a
                      little bit longer.</p>
                  </div>
                  <div class="card-footer text-center">
                    <a name="Learn More" class="btn btn-sm btn-primary" href="#" role="button">Learn More</a>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="http://via.placeholder.com/400x300?text=Achievments" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a
                      little bit longer.</p>
                  </div>
                  <div class="card-footer text-center">
                    <a name="Learn More" class="btn btn-sm btn-primary" href="#" role="button">Learn More</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
