<section class="container">
  <div class="row">
    <div class="col-12">
      <div class="profile-section">
        <div class="section-header">
          <h2 class="text-center">Associations</h2>
        </div>
      </div>
    </div>
  </div>
</section>
