<section class="container">
  <div class="row">
    <div class="col-12">
      <div class="profile-section">
        <div class="row">
            <div class="col-7">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2437.260827989052!2d90.41504707004125!3d23.75575470499885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8629c72e3f9%3A0x3e9e14a1547f8d8e!2sInnovi!5e0!3m2!1sen!2sbd!4v1514972525611" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-5">
            <div class="location-info">
              <div class="head-office">
                <h4><i class="fa fa-fw fa-building" aria-hidden="true"></i> Head Office</h4>
                <p>Plot: B/A-20, Holding: 8/A</p>
                <p>DIT Road, Malibagh Chowdhurypara</p>
                <p>Dhaka 1219</p>
              </div>
              <div class="phone-info">
                <h4><i class="fa fa-fw fa-mobile" aria-hidden="true"></i> Phone</h4>
                <p>+8801xx-xxx-xxx</p>
                <p>+8801xx-xxx-xxx</p>
              </div>
              <div class="mail-info">
                <h4><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i> Email</h4>
                <p>support@innovi.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
