<nav>
  <div class="demo-navigation">
    <ul class="d-flex list-unstyled justify-content-around align-items-center">
      <li><a class="btn btn-primary" href="profile-one.html">Profile 1</a></li>
      <li><a class="btn btn-primary" href="#">Profile 2</a></li>
      <li><a class="btn btn-primary" href="#">Profile 3</a></li>
      <li><a class="btn btn-primary" href="#">Profile 4</a></li>
    </ul>
  </div>
</nav>
