<nav>
  <div class="demo-navigation">
    <ul class="list-unstyled">
      <li><a href="#">Profile 1</a></li>
      <li><a href="#">Profile 2</a></li>
      <li><a href="#">Profile 3</a></li>
      <li><a href="#">Profile 4</a></li>
    </ul>
  </div>
</nav>
