.facebook {
  background-color: $facebook;
}
.twitter {
  background-color: $twitter;
}
.linkedin {
  background-color: $linkedin;
}
.google-plus {
  background-color: $googleplus;
}

.btn {
  color: #fff !important;
}
